%center{
    display: flex;
    justify-content: center;
    align-items: center;
} //@extend



a{
    text-decoration: none;
    color:black;
}

ul{
    margin:0;
    padding: 0;
}

li{
    list-style-type: none;
}

.section-with-text{
    margin-left: 310px;
    margin-top: 15px;
}

.text-H{
    font-size: 30px;
}
.text-head-section, .text-section{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}


.text-section{
    font-size: 24px;
    font-weight: 400;
}

.container{
    width:1700px;
    max-width: 100%;
    margin:0 auto; 
    padding:0 3px;  
}

@media screen and (max-width:1600px) {
    .container{
       width:1420px; 
    }
        
}
@media screen and (max-width:1400px) {
    .container{
        width:1200px;
        max-width: 100%;
    }
}